
@nodesearch-dialog-background: white;
@nodesearch-dialog-shadow: 0 0 5px black;
@nodesearch-dialog-thumbnail-width: 33%;
@nodesearch-dialog-thumbnail-height: 3em;
@nodesearch-dialog-thumbnail-border-color: #ccc;
@nodesearch-dialog-active-border-color: red;
@nodesearch-dialog-width-small: 320px;
@nodesearch-dialog-width-normal: 640px;
@nodesearch-dialog-width-large: 830px;
@nodesearch-dialog-margin-top: 50px;
@nodesearch-dialog-z-index: 2000;

@nodesearch-item-margin: 5px;

.resize-to-screen {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: none;
  min-height: 100vh;
}

.node-selector-dialog {

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 0.8;
    z-index: @nodesearch-dialog-z-index;
  }

  // @todo find a way to position absolute from viewport instead
  .dialog {
    position: fixed;
    width: @nodesearch-dialog-width-large;
    top: @nodesearch-dialog-margin-top;
    left: 50%;
    transform: translateX(-50%);
    z-index: @nodesearch-dialog-z-index + 1;
    background: @nodesearch-dialog-background;
    box-shadow: @nodesearch-dialog-shadow;
    padding: 2rem 3rem;
    border-radius: 7px;

    @media (max-height: 760px) {
      .resize-to-screen();
    }
    @media (max-width: @nodesearch-dialog-width-large) {
      .resize-to-screen();
    }

    h1 {
      font-size: 1.5em;
      text-align: center;
      margin: 0;
      margin-bottom: 1rem;

      button {
        float: right;
        border: none;
        background: transparent;
      }
    }

    h2 {
      font-size: 1.2em;
      text-align: center;
      margin: 0;
      margin-bottom: 1rem;
    }

    .pager-nav {
      text-align: center;
    }
  }
}

.node-selector {

  > * {
    margin-bottom: 1rem !important;
  }

  input[type=text] {
    width: 100%;
    margin-bottom: 1rem;
  }

  .results {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    &:not(.sortable) {
      margin: -@nodesearch-item-margin;
    }

    > div {
      flex: initial;
      margin: 0;
      padding: 1rem;
    }
  }

  .current {
    margin-bottom: 1rem;
  }

  .sortable {
    > * {
      pointer: grab
    }

    border: 2px dashed #018fe2;
    background: rgba(1, 143, 226, .2);
    padding: .5em;
    width: 100%;
    min-height: 138px;
    transition: all .5s ease;
  }

  .node-selector-item {
    visibility: visible !important;
    width: 120px;
    height: 120px;
    border: 1px solid #333;
    background: #ccc;
    display: block;
    margin: @nodesearch-item-margin;
    overflow: hidden;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    border-radius: 6px;
    cursor: pointer;

    .title {
      font-size: 12px;
      position: absolute;
      color: white;
      margin: 0;
      padding: 3px;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0.8;
      background-color: #333;
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
    }

    &[data-active="true"] {
      box-shadow: 4px 4px 9px #888;
      .title {
        opacity: 1;
      }
    }
  }

  .gu-transit .node-selector-item {
    border: 1px dashed black;
    opacity: .5;
    background: white;
  }

  .footer {
    input[name=submit] {
      float: right;
    }
  }
}